{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Global site tag (gtag.js) - Google Ads: 10931391661 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10931391661"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'AW-10931391661');
	</script>

	<!-- Event snippet for Form Submission conversion page -->
	<script>
		gtag('event', 'conversion', {'send_to': 'AW-10931391661/R-sqCN2EosUDEK2Zv9wo'});
  	</script>

	<script>
		gtag('config', 'AW-10931391661/v94oCNWRosUDEK2Zv9wo', {
			'phone_conversion_number': '07208765319'
		});
	</script>

	<script>
		gtag('config', 'AW-10931391661/hbCICJucosUDEK2Zv9wo', {
		  'phone_conversion_number': '07208765320'
		});
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BWFHQZTRFP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-BWFHQZTRFP');
	</script>

	<title>Oncoheal</title>
	<link rel="icon" type="image/x-icon" href={% static '/images/favicon.ico' %}>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">

	<link rel="stylesheet" href={% static '/css/open-iconic-bootstrap.min.css' %}>
	<link rel="stylesheet" href={% static '/css/animate.css' %}>

	<link rel="stylesheet" href={% static '/css/owl.carousel.min.css' %}>
	<link rel="stylesheet" href={% static '/css/owl.theme.default.min.css' %}>
	<link rel="stylesheet" href={% static '/css/magnific-popup.css' %}>

	<link rel="stylesheet" href={% static '/css/aos.css' %}>

	<link rel="stylesheet" href={% static '/css/ionicons.min.css' %}>

	<link rel="stylesheet" href={% static '/css/bootstrap-datepicker.css' %}>
	<link rel="stylesheet" href={% static '/css/jquery.timepicker.css' %}>


	<link rel="stylesheet" href={% static '/css/flaticon.css' %}>
	<link rel="stylesheet" href={% static '/css/icomoon.css' %}>
	<link rel="stylesheet" href={% static '/css/style.css' %}>

</head>

<body>

	<nav class="navbar navbar-expand-lg  navbar-dark ftco_navbar bg-dark ftco-navbar-light " id="ftco-navbar">
		<div class="container">

			<a class="collapse navbar-collapse" href=""> <img src={% static '/images/logo.png' %} alt="Logo" width="30%"
					height="40%"></a>
			
			<a class="navbar-toggler mob-icon" href=""> <img src={% static '/images/logo.png' %} alt="Logo" width="65%"
				height="75%"></a>

			<div class="navbar-toggler">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pr-1 py-1 px-1 text-center"><a href="tel:7208765319"><img src={% static '/images/phone.png' %} alt="PhoneLogo" height="20px"
						width="20px">&nbsp;&nbsp;<b>7208765319</b></a><br><a
							href="tel:7208765320">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>7208765320 </b><br><br></a></li>
					<li class="nav-item ftco-animate text-center btn-text-center"><a href="#contact" class="btn btn-primary px-1 py-1 btn-font">Enquire</a></li>
				</ul>
			</div>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a><img src={% static '/images/phone.png' %} alt="PhoneLogo" height="45px"
								width="45px"></a></li>
					<li class="nav-item pr-5 py-2 px-1 "><a href="tel:7208765319"><b>7208765319 / </b></a><a
							href="tel:7208765320"><b>7208765320 &nbsp;&nbsp;&nbsp;</b></a></li>
					<li class="nav-item ftco-animate"><a href="#contact" class="btn btn-primary px-3 py-2">Enquire</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<section class="home-slider owl-carousel">
		<div class="slider-item" style="background-image: url({% static '/images/bg1_1.png' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text align-items-center" data-scrollax-parent="true">
					<div class="col-md-12 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
						<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Cancer-Specific
							Nutritional Support From The Comfort Of Our Homes</h1>
						<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#contact"
								class="btn btn-primary px-4 py-3">Book An Appoinment</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image: url({% static '/images/bg3_3.png' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text align-items-center" data-scrollax-parent="true">
					<div class="col-md-12 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
						<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tailored Diet
							Plans During Cancer Treatment</h1>
						<p><a href="#contact" class="btn btn-primary px-4 py-3">Book An Appoinment</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item text-center" style="background-image: url({% static '/images/bg5_5.png' %});">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text align-items-center" data-scrollax-parent="true">
					<div class="col-md-12 text-center col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
						<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Team Of
							Nutritionists With An Expertise In Onco-Nutrition</h1>
						<p><a href="#contact" class="btn btn-primary px-4 py-3">Book An Appoinment</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-quote">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pr-md-5 aside-stretch py-5 choose">
					<div class="heading-section heading-section-white mb-5 ftco-animate">
						<h2 class="mb-2">Oncoheal Provides High Quality Services</h2>
					</div>
					<div class="ftco-animate">
						<p><b><i>”Optimum Nutrition is the medicine of tomorrow”</i></b><br>
							- Dr Linus Pauling<br>

							Adequate nutrition is one of the cornerstone of cancer treatment

							About 50% of the people with cancer on treatment are malnourished. Hence, the primary goals
							of nutrition management are to enhance treatment tolerance, minimize side effects, improve
							and maintain good nutritional status and enrich quality of life.
							We aim to help people with cancer by improving their nutrition status and helping them sail
							through the treatment phase.</p>
						<ul class="un-styled my-5">
							<li><span class="icon-check"></span>Evidence-Based Nutrition</li>
							<li><span class="icon-check"></span>Side Effect Management</li>
							<li><span class="icon-check"></span>Regular Follow-Up And Support</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 py-5 pl-md-5" id="contact">
					<div class="heading-section mb-5 ftco-animate">
						<h2 class="mb-2 text-center">Get In Touch</h2>
					</div>
					<form action="{% url 'index' %}" class="ftco-animate" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="First Name" name="Fname" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Last Name" name="Lname" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email" name="Email" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone" name="Phone" required>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="Message" id="" cols="30" rows="7" class="form-control"
										placeholder="Message" required></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group text-center">
									<input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
								</div>
							</div>
						</div>
					</form>

					<!-- Message From Backend-->
					{% if messages %}
						{% for message in messages %}
							<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
							<script>
								var m = "{{ message }}";
								swal("Submitted!", m, "success");
							</script>
						{% endfor %}
					{% endif %}

					{% comment %} {% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %} {% endcomment %}

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-services">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-7 text-center heading-section ftco-animate">
					<h2 class="mb-2">Our Services</h2>
					<p>Below is the list of our treatment-specific nutrition programs</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/001.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Preventive Program</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/008.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Chemo Care</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/004.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Nutrition During Radiation Therapy</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/003.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Pre-Surgery Care</h3>
						</div>
					</div>
				</div>

				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/002.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Post-Surgery Care</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/005.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Terminal Cancers</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/007.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Tube Feedings</h3>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center">
							<span><img src={% static '/images/006.png' %} alt="Icon1" width="100%" height="100%"></span>
						</div>
						<div class="media-body p-2 mt-3">
							<h3 class="heading">Special Cases</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center">
				<a href="#contact" class="btn btn-primary px-4 py-3"><span>Contact Us</span></a>
			</div>
		</div>
		<div class="container-wrap mt-5">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 img" style="background-image: url({% static '/images/bg6.png' %});">
				</div>
				<div class="col-md-6 d-flex">
					<div class="about-wrap">
						<div class="heading-section heading-section-white mb-5 ftco-animate">
							<h2 class="mb-2">Hallmarks Of Our Services</h2>
						</div>
						<div class="list-services d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="icon-check2"></span>
							</div>
							<div class="text">
								<h3>Better Nutrition Status And Recovery</h3>
								<p>Good nutritional support helps in reducing malnutrition and improves recovery.</p>
							</div>
						</div>
						<div class="list-services d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="icon-check2"></span>
							</div>
							<div class="text">
								<h3>Lesser Treatment Delays</h3>
								<p>Treatment delays or toxicities are more common in malnutrition and weight loss.
									Nutrition support helps in decreasing treatment toxicities.</p>
							</div>
						</div>
						<div class="list-services d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="icon-check2"></span>
							</div>
							<div class="text">
								<h3>Enriched Quality Of Life</h3>
								<p>Optimum nutrition reduces fatigue and enhances energy levels along with overall
									wellbing.</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-7 text-center heading-section ftco-animate">
					<h2 class="mb-3">Meet Our Experienced Nutritionists</h2>
				</div>
			</div>
			<div class="row">
				<div class=" d-flex px-sm-5 mb-sm-5 mx-sm-5 ftco-animate">
					<div class="staff">
						<div class="img mb-4" style="background-image: url({% static '/images/ps1.jpeg' %});"></div>
						<div class="info text-center">
							<h3>Ekta Chheda</h3>
							<span class="position">M.Sc in Clinical Nutrition and Dietetics<br>Registered
								Dietitian<br>Certified Diabetes Educator</span>
							<div class="text">
								<p>Ekta Chheda has an experience of working<br> over 3 years at the Tata Memorial
									Hospital.<br>
									She has published research papers in national<br> and international journals and is
									the
									founder<br> of Oncoheal - a nutrition portal for Cancer.</p>
							</div>
						</div>
					</div>
				</div>
				<div class=" d-flex mb-sm-5 px-sm-3 mx-sm-5 ftco-animate">
					<div class="staff">
						<div class="img mb-4" style="background-image: url({% static '/images/ps2.jpg' %});"></div>
						<div class="info text-center">
							<h3>Nidhi Singh</h3>
							<span class="position">Masters Clinical Nutrition and Dietetics<br>Post Graduate Diploma in
								Clinical Research<br>Certified Diabetes Educator</span>
							<div class="text">
								<p>Nidhi Singh has an experience of working<br> over 4 at the Tata Memorial
									Hospital.<br> She
									has published research papers in the field<br> of onco-nutrition and is the
									co-founder<br>
									of Oncoheal - a nutrition portal for Cancer</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center">
				<a href="#contact" class="btn btn-primary px-4 py-3"><span>Talk To Us</span></a>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-counter img" id="section-counter"
		style="background-image: url({% static '/images/bg0.png' %});" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-md-3 aside-stretch py-5">
					<div class=" heading-section heading-section-white ftco-animate pr-md-4">
						<h2 class="mb-3">Achievements</h2>
						<p>Coming together is a beginning; keeping together is progress; working together is success.
						</p>
					</div>
				</div>
				<div class="col-md-9 py-5 pl-md-5">
					<div class="row">
						<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
									<strong class="number" data-number="6">0</strong>
									<span>Years of Experience</span>
								</div>
							</div>
						</div>

						<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
									<strong class="number" data-number="50">0</strong>
									<span>Happy Customer</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
							<div class="block-18">
								<div class="text">
									<strong class="number" data-number="8">0</strong>
									<span>Different Cities</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 text-center heading-section ftco-animate">
					<h2 class="mb-2">Testimonials</h2>
					<span class="subheading">Our Client Says</span>
				</div>
			</div>
			<div class="row justify-content-center ftco-animate">
				<div class="col-md-8">
					<div class="carousel-testimony owl-carousel ftco-owl">
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								
								<div class="text text-center">
									<p class="mb-5">“My 6 year old son, was diagnosed with Kidney Cancer. He is a fussy
										eater and during chemotherapy, his intake had drastically reduced which was
										affecting his treatment. At that phase, I came in touch with Nidhi, who guided
										me on meal plans for him for each of the treatment session. She gave us useful
										tips that helped in reducing side effects. My son has now completed his
										treatment and I would like to thank Nidhi in guiding us throughout” </p>
									<p class="name">Poonam Singh</p>
									<span class="position">Home Maker</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
							
								<div class="text text-center">
									<p class="mb-5">“My father was diagnosed with cancer of oral cavity in July 2020. I
										came in touch with Ekta ma’am, and she guided me in detail about diet to be
										given during chemotherapy and radiation. His food intake had drastically reduced
										to the side effects of chemo and radiation, but some small tips on how to manage
										mouth ulcers, nausea given by her, were useful. I thank her for her constant
										support and for always being available”</p>
									<p class="name">Ashish Bhinde</p>
									<span class="position">Businessman”</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
								
								<div class="text text-center">
									<p class="mb-5">“Oncoheal provides a comprehensive nutrition plan for cancer
										patients. Highly recommended”</p>
									<p class="name">Dr Hollis D’souza</p>
									<span class="position">Medical Oncologist</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">
						
								<div class="text text-center">
									<p class="mb-5">“My father was diagnosed with Stage IV Prostrate Cancer. He lost
										8-9kg pre and post-surgery period. We have been in consultation with Oncoheal
										since 3 months. We were provided with a well-structured diet plan, considering
										health as a priority. The team is always professional and compassionate. They
										relate well to patient and family members, and take time to listen. It has been
										3 months now and my father has gained 5-6kgs. What we love about Oncoheal is
										their professionalism, regular follow ups and keeping a constant check on the
										progress. We are very thankful for seeing the positive improvement by their
										methods. We are very grateful and wish team the best! ” </p>
									<p class="name">Abhay Joshi</p>
									<span class="position">Senior Manager-Pepsico</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap p-4 pb-5">

								<div class="text text-center">
									<p class="mb-5">"My father was diagnosed with Liver Cancer. Due to the disease and
										its treatment, he had bloating and mouth ulcers which caused low food intake and
										drastic weight loss. Oncoheal helped us in meeting his increased needs. It
										worked wonders. We received a personalised diet plan as per the needs and there
										were regular follow up on his well being. All our queries were resolved
										promptly. The program provided relief to him and also brought positive changes
										in him. This also improved his blood reports. I am really impressed by their
										knowledge and empathy towards the patient. I sincerely thank Oncoheal for their
										support during this difficult period" </p>
									<p class="name">Madhav Zaveri</p>
									<span class="position">Interior Designer</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-3">
					<div class="ftco-footer-widget mb-4">
						<img src={% static '/images/logo.png' %} alt="Logo" width="55%" height="65%">
					</div>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
				
				<div class="col-md-1">
				</div>

				<div class="col-md-4 pr-md-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2 text-center"><b>Working Hours</b></h2>
						<h2 class="ftco-heading-2"><a>Monday - Sunday</a> <a class="rt">8:30 AM - 6:00 PM</a></h2>
					</div>
				</div>

				<div class="col-md-1">
				</div>

				<div class="col-md-3">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2"><b>Connect With Us</b></h2>
						<div class="block-23 mb-3">
							<ul>
								<li><a href=""><span class="icon icon-phone"></span><span class="text"><a
												href='tel:7208765319'>+91 72087
												65319</a><a href='tel:7208765320'> +91 72087 65320</a>
										</span></a></li>
								<li><a href="mailto:info@oncoheal.co.in"><span class="icon icon-envelope"></span><span
											class="text">info@oncoheal.co.in</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All Rights Reserved by Oncoheal.</a>
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>

	<!-- Modal -->
	<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalRequestLabel">Contact Us</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#">
						<div class="form-group">
							<input type="text" class="form-control" id="appointment_name" placeholder="Full Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="appointment_email" placeholder="Email">
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control appointment_date" placeholder="Date">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control appointment_time" placeholder="Time">
								</div>
							</div>
						</div>


						<div class="form-group">
							<textarea name="" id="appointment_message" class="form-control" cols="30" rows="10"
								placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Contact Us" class="btn btn-primary">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<script src={% static '/js/jquery.min.js' %}></script>
	<script src={% static '/js/jquery-migrate-3.0.1.min.js' %}></script>
	<script src={% static '/js/popper.min.js' %}></script>
	<script src={% static '/js/bootstrap.min.js' %}></script>
	<script src={% static '/js/jquery.easing.1.3.js' %}></script>
	<script src={% static '/js/jquery.waypoints.min.js' %}></script>
	<script src={% static '/js/jquery.stellar.min.js' %}></script>
	<script src={% static '/js/owl.carousel.min.js' %}></script>
	<script src={% static '/js/jquery.magnific-popup.min.js' %}></script>
	<script src={% static '/js/aos.js' %}></script>
	<script src={% static '/js/jquery.animateNumber.min.js' %}></script>
	<script src={% static '/js/bootstrap-datepicker.js' %}></script>
	<script src={% static '/js/jquery.timepicker.min.js' %}></script>
	<script src={% static '/js/scrollax.min.js' %}></script>
	<script src={% static '/js/google-map.js' %}></script>
	<script src={% static '/js/main.js' %}></script>

</body>

</html>